<footer class="site-footer">

    <div class="footer-container">

        <div class="footer-brand">
            <h3>Radio Outdoors™</h3>
            <p>If you're outdoors operating amateur radio...You belong here.</p>
        </div>

        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/locations/">Locations</a>
            <a href="/adventures/">Member Adventures</a>
            <a href="/learn/">Learn</a>
            <a href="/about/">About</a>
            <a href="{% url 'terms_of_use' %}">Terms</a>
            <a href="{% url 'privacy_policy' %}">Privacy</a>
            <a href="{% url 'community_standards' %}">Community Standards</a>
            <a href="{% url 'copyright_policy' %}">Copyright/DMCA</a>
            <a href="mailto:{{ radio_outdoors_contact_email }}">Contact</a>
        </div>

        <div class="footer-copy">
            © 2026 RadioOutdoors.org
        </div>

    </div>

</footer>
