<colgroup class="adventure-table-columns">
    <col class="adventure-table-column-photo">
    <col class="adventure-table-column-status">
    <col class="adventure-table-column-adventure">
    {% if include_public_columns %}
        <col class="adventure-table-column-operator">
        <col class="adventure-table-column-state">
    {% endif %}
    <col class="adventure-table-column-location">
    <col class="adventure-table-column-date">
    <col class="adventure-table-column-journal">
    <col class="adventure-table-column-photos">
    <col class="adventure-table-column-contacts">
    <col class="adventure-table-column-actions">
</colgroup>
